body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
	max-width: 640x;
	margin: 1rem auto;
    border: 1px #1a1f23;
    padding: 20px;
    background-color: #bedef1;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section {
    padding: 10px;
    background-color: #ffff;
}