@media screen and (min-width: 1051px) and (max-width: 1450px) {
    main {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-size: 100%;
}
.cloud2 {
    position: relative;
    top: 1px;
    left: 1px;
    opacity: 0;
    }
}