@media only screen and (max-width: 950px) {
main {
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
    background-size: 100%;
}

section img {
    max-width: 400px;
}
.cloud2 {
    position: relative;
    top: 1px;
    left: 1px;
    opacity: 0;
    }
}