@media only screen and (max-width: 1050px) and (min-width: 0px) {
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
    width: 33%;
    background-size: 100%;
}

.cloud2 {
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 0;
    }
}