@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

body, p {
    font-family: 'Unna', serif;
}

:root {
    --primary-color: #263833;
    --secondary-color: #627a74;
    --accent1-color: #F9FAF9;
    --accent2-color: #F2F2F3;
    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Unna', serif;
    --headline-color-on-white: #263833;
    --headline-color-on-color: #F9FAF9;
    --paragraph-color-on-white: #627a74;
    --paragraph-color-on-color: #F2F2F3;
    --paragraph-background-color: #6e8a84;
    --nav-link-color: #15261E;
    --nav-background-color: #F9FAF9;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #547368;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #6e8a84;
    align-items: center;
    position: relative;
    padding: 10px;
    margin: 0 auto;
}

#header-logo {
    max-height: 50px;
    margin-bottom: 10px;
}

.contact-info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #F2F2F3;
    text-align: left;
}

.contact-info p {
    margin: 5px 0;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-text h1, .header-text h3 {
    margin: 0;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #f2f2f3;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖️";
}

nav {
    background-color: #6e8a84;
    color: #F2F2F3;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    list-style: none;
    }
    

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #f2f2f3;
}

nav a:hover {
    border: 1px solid #fff;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.open #nav {
    display: block;
}

#hero {
    text-align: center;
    margin-top: -18px;
    position: relative;
}

#hero-img img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

picture {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
}


.hero-overlay {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #f2f2f3;
    padding: 10px;
    white-space: nowrap;
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}

.page-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    grid-gap: 20px;
    width: 95%;
    margin: 20px auto;
}

main {
    background-color: #fff2e3;
    padding: 10px;
    height: auto;
    min-height: auto;
    box-sizing: border-box;
}

#upcomingGrid, #annualGrid, #hiringGrid, #directoryGrid, #spotlightGrid, #weatherGrid {
    box-shadow: 5px 5px 5px #627a74;
    border-radius: 5px;
    border: 5px transparent;
    background-color: #6e8a84;
    overflow: hidden;
    text-align: center;
    padding: 10%;
    color: #F2F2F3;
}

#weatherGrid p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#weatherGrid span {
    font-weight: bold;
}

#upcomingGrid p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#upcomingGrid span {
    font-weight: bold;
}

#annualGrid p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#annualGrid span {
    font-weight: bold;
}

.promote-text {
    text-align: center;
    margin: 20px auto;
    width: 95%;
}

.promote-text p {
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
}

footer {
    background-color: #6e8a84;
    text-align: center;
    padding: 1rem;
}
#footer-logo img {
    max-height: 30px;
}

/* Dark mode styles */
    #mode {
        position: absolute;
        top: 1rem;
        right: 3rem;
        font-size: 2rem;
        cursor: pointer;
        color: #333333;
    }
    
    #header-logo-dark {
        display: none;
    }
    
    body.dark-mode {
        background-color: #333333;
        color: #F9FAF9;
    }
    
    body.dark-mode main {
        background-color: #333333;
        color: #F9FAF9;
    }
    
    body.dark-mode header {
        background-color: #333333;
    }
    
    body.dark-mode footer {
        background-color: #333333;
    }
    
    body.dark-mode nav {
        background-color: #333333;
    }
    
    body.dark-mode nav a {
        color: #F9FAF9;
    }

