@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

body, p {
    font-family: 'Unna', serif;
}

:root {
    --primary-color: #263833;
    --secondary-color: #627a74;
    --accent1-color: #F9FAF9;
    --accent2-color: #F2F2F3;
    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Unna', serif;
    --headline-color-on-white: #263833;
    --headline-color-on-color: #F9FAF9;
    --paragraph-color-on-white: #627a74;
    --paragraph-color-on-color: #F2F2F3;
    --paragraph-background-color: #6e8a84;
    --nav-link-color: #15261E;
    --nav-background-color: #F9FAF9;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #547368;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #6e8a84;
    align-items: center;
    position: relative;
}

.contact-info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #F2F2F3;
    text-align: left;
}

.contact-info p {
    margin: 5px 0;
}


.header-text h1, .header-text h3 {
    margin: 0;
}
.open a {
	display: block;
}
#menu {
    display: block;
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

nav {
    display: none;
    background-color: #6e8a84;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 1rem;
}

.open ul {
    display: flex;
    flex-direction: row;
}

#hero {
    text-align: center;
    margin-top: -18px;
}

#hero-img img {
    width: 100%;
    height: auto;
}

#hero-text h1 {
    font-size: 2rem;
    color: #263833;
}

#hero-text h3 {
    font-size: 1rem;
    margin-bottom: 0;
    color: #263833;
}

.page-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 20px;
    width: 95%;
    margin: 20px auto;
}

#upcomingGrid, #annualGrid, #hiringGrid, #directoryGrid, #spotlightGrid, #weatherGrid {
    box-shadow: 5px 5px 5px #627a74;
    border-radius: 5px;
    border: 5px transparent;
    background-color: #6e8a84;
    overflow: hidden;
    text-align: center;
    padding: 10%;
    color: #F2F2F3;
}

footer {
    background-color: #6e8a84;
    text-align: center;
    padding: 1rem 0;
}
