@media screen and (min-width: 1051px){

    nav ul {
        display: flex;
        justify-content: space-around;
    }
    
    nav ul li {
        flex: 1 1 100%;
    } 
}

#menu {
    display: none; /* hide hamburger button */
}