/* styles.css */

body {
    font-family: 'Josefin Sans', sans-serif; /* Apply Josefin Sans font to the whole document */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

header {
    background-color: #343635;
    color: #f2f2f3;
    padding: 10px;
}

nav {
    background-color: #343635; /* Set background color for the nav section */
    color: #f2f2f3; /* Set text color to white */
    width: 63%; /* Match the width of the main background */
    margin: 0 auto; /* Center the nav section horizontally */
    padding: 10px; /* Add padding */
    text-align: center; /* Center the content of the nav element */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: block; /* Display list items vertically */
    margin-bottom: 10px; /* Add margin between list items */
}

nav ul li a {
    text-decoration: none;
    color: #f2f2f3;
}

main {
    width: 80%; /* Limited width for the main element */
    margin: 0 auto; /* Center the main element horizontally */
    padding: 20px;
    display: flex; /* Use Flexbox for layout */
    flex-direction: column; /* Arrange items in a single column */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
}

.card-wrapper {
    width: 80%; /* Set the width of the card wrapper */
    border: 1px solid #83949c; /* Add thin border around the card wrapper */
    margin-bottom: 20px; /* Add margin between card wrappers */
}

.card {
    background-color: #f9f9f9;
    padding: 10px;
}

footer {
    background-color: #343635;
    color: #f2f2f3;
    padding: 10px;
    text-align: center;
}

footer img {
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}
h2 {
    text-decoration: underline;
}
