@media screen and (min-width: 951px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card-contain {
        grid-row: 1/2;
    }

    .card-wrapper {
        grid-row: 2/3;
    }

    #menu {
        display: none;
    }
}
